@model Mvc.OefenfirmaCMS.Lib.Entities.User

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
<hr />
<h3 class="text-danger">Bent u zeker dat u deze gebruiker wilt verwijderen?</h3>
<div class="panel panel-info">
    <div class="panel-heading">
        <h4>Gebruiker: @Html.DisplayFor(model => model.UserName)</h4>
    </div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.UserPassword)
            </dt>
            <dd>
                <i>top-secret</i>
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.UserEmail)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UserEmail)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.UserFirstName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UserFirstName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.UserLastName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UserLastName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.UserAddress)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UserAddress)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.UserPost)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UserPost)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.UserGemeente)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UserGemeente)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserPhone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserPhone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Birthday)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Birthday)
            </dd>
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                @*<input type="submit" value="Delete" class="btn btn-danger" /> |*@
                <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</button>
                <a href="@Url.Action("Index", "Users")" class="btn btn-info"><span class="glyphicon glyphicon-backward" aria-hidden="true"></span> Back to List</a>
            </div>
        }

    </div>
</div>
