@model Mvc.OefenfirmaCMS.Lib.Entities.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<hr />

<div class="panel panel-info">
    <div class="panel-heading">
        <h4>Gebruiker: @Html.DisplayFor(model => model.UserName)</h4>
    </div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserPassword)
            </dt>
            <dd>
                <i>top-secret</i>
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserEmail)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UserEmail)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserFirstName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UserFirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserLastName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UserLastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserAddress)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UserAddress)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserPost)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UserPost)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserGemeente)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UserGemeente)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserPhone)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UserPhone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Birthday)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Birthday)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Roles)
            </dt>
            <dd>
                @foreach (var item in Model.Roles)
                {
                    @item.RoleName <br />
                }
            </dd>
        </dl>
    </div>
</div>
<p>
    <a href="@Url.Action("Edit", "Users", new { id = Model.UserId })" class="btn btn-success"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</a>
    <a href="@Url.Action("Index", "Users")" class="btn btn-info"><span class="glyphicon glyphicon-backward" aria-hidden="true"></span> Back to List</a>
</p>
