@{
    ViewBag.Title = "Index";
}
<p></p>
<div class="panel panel-danger">
    <div class="panel-heading">
        <h3>Administrator Page</h3>
    </div>
    <div class="panel-body">
        <p>Op deze pagina kunt u relaties, producten, categorieën, ... aanmaken alsook nieuwe gebruikers.</p>
        <p>Tevens kunt u bestaande items aanpassen of verwijderen. Aanpassingen en verwijderde items zijn <b>definitief</b>.</p>
        <p><b>Neem regelmatig een backup!</b></p>
    </div>
</div>

<div class="panel panel-warning">
    <div class="panel-heading">
        <h4>Database</h4>
    </div>
    <div class="panel-body">
        <p>
            @Html.ActionLink("Relaties", "Index", "Relations", null, new { @class = "myButton" })
            @Html.ActionLink("Verwantschap", "Index", "Relationships", null, new { @class = "myButton" })
        </p>
        <p>
            @Html.ActionLink("Producten", "Index", "Products", null, new { @class = "myButton" })
            @Html.ActionLink("Categorieën", "Index", "Categories", null, new { @class = "myButton" })
        </p>
        <p>
            @Html.ActionLink("Gebruikers", "Index", "Users", null, new { @class = "myButton" })
        </p>
    </div>
</div>


