@model ContactFormVM

@{
    ViewBag.Title = "Contact";
}

<h2>Contactinformatie</h2>
@if (TempData["Success"] != null)
{
    <div class="alert alert-success alert-dismissable fade in" id="successMessage">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            @TempData["Success"]!
    </div>
}
<address>
    <b>IVO Bytes</b>
    <p>
        Oefenfirma van CVO IVO Brugge<br />
        Manitobalaan 48<br />
        8200 BRUGGE <br />
        België
    </p>
</address>
<address>
    <strong>Klantendienst:</strong> <a href="mailto:serge.pille@telenet.be">serge.pille@telenet.be</a>
</address>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(e => e.RelName, new { @class = "control-label col-sm-4" })
            <div class="col-sm-8">
                @Html.TextBoxFor(e => e.RelName, new { @class = "form-control" })
                @Html.ValidationMessageFor(e => e.RelName)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(e => e.RelFirstName, new { @class = "control-label col-sm-4" })
            <div class="col-sm-8">
                @Html.TextBoxFor(e => e.RelFirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(e => e.RelFirstName)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(e => e.RelEmail, new { @class = "control-label col-sm-4" })
            <div class="col-sm-8">
                @Html.TextBoxFor(e => e.RelEmail, new { @class = "form-control" })
                @Html.ValidationMessageFor(e => e.RelEmail)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(e => e.RelPhone, new { @class = "control-label col-sm-4" })
            <div class="col-sm-8">
                @Html.TextBoxFor(e => e.RelPhone, new { @class = "form-control" })
                @Html.ValidationMessageFor(e => e.RelPhone)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(e => e.Message, new { @class = "control-label col-sm-4" })
            <div class="col-sm-8">
                @Html.TextAreaFor(e => e.Message, new { @class = "form-control", @rows = 10 })
                @Html.ValidationMessageFor(e => e.Message)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
                <button type="submit" class="btn btn-primary" name="btnSubmitForm">Bericht insturen</button>
            </div>
        </div>
    </div>
}
