@model IEnumerable<Mvc.OefenfirmaCMS.Lib.Entities.Category>

@{
    ViewBag.Title = "Index";
    var tempVal = TempData["Success"];
}

<h2>Overzicht Categorieën</h2>
@if (tempVal != null)
{
    switch (tempVal.ToString())
    {
        case "Nope":
            <div class="alert alert-danger alert-dismissable fade in" id="flopMessage">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                Deze Categorie bestaat niet
            </div>
            break;
        case "Succes":
            <div class="alert alert-success alert-dismissable fade in" id="successMessage">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                De categorie werd succesvol aangemaakt
            </div>
            break;
        case "Weg":
            <div class="alert alert-success alert-dismissable fade in" id="successMessage">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                De categorie werd succesvol verwijderd
            </div>
            break;
        case "Wijzig":
            <div class="alert alert-success alert-dismissable fade in" id="successMessage">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                De categorie werd succesvol gewijzigd
            </div>
            break;
        case "Kannie":
            <div class="alert alert-danger alert-dismissable fade in" id="flopMessage">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                Deze categorie kan niet verwijderd worden<br />
                Er zijn nog producten met deze categorie. Wijzig of verwijder deze producten.
            </div>
            break;
        default:
            <div></div>
            break;
    }
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="panel panel-info">
    <div class="panel-heading">Hoofd Categorieën</div>
    <div class="panel-body">
        <table class="table">
            <tr>
                <th class="col-md-3">
                    @Html.DisplayNameFor(model => model.CatName)
                </th>
                <th class="col-md-7">
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th class="col-md-2"></th>
            </tr>

            @foreach (var item in Model)
            {
                if (item.ParentCat == null)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CatName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            <button type="button" class="btn btn-default" aria-label="Details" title="Details" onclick="location.href='@Url.Action("Details", new { id=item.CatId})'">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default" aria-label="Edit" title="Edit" onclick="location.href='@Url.Action("Edit", new { id=item.CatId})'">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default" aria-label="Delete" title="Delete" onclick="location.href='@Url.Action("Delete", new { id=item.CatId})'">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading">Sub Categorieën</div>
    <div class="panel-body">
        <table class="table">
            <tr>
                <th class="col-md-3">
                    @Html.DisplayNameFor(model => model.CatName)
                </th>
                <th class="col-md-5">
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th class="col-md-2">
                    @Html.DisplayNameFor(model => model.ParentCat)
                </th>
                <th class="col-md-2"></th>
            </tr>

            @foreach (var item in Model)
            {
                if (item.ParentCat != null)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CatName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ParentCatObj.CatName)
                        </td>
                        <td nowrap>
                            <button type="button" class="btn btn-default" aria-label="Details" title="Details" onclick="location.href='@Url.Action("Details", new { id=item.CatId})'">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default" aria-label="Edit" title="Edit" onclick="location.href='@Url.Action("Edit", new { id=item.CatId})'">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default" aria-label="Delete" title="Delete" onclick="location.href='@Url.Action("Delete", new { id=item.CatId})'">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</div>
<p>
    @Html.ActionLink("Back to Admin Area", "Index", "Admin")
</p>


