
@if (this.User.Identity.IsAuthenticated)
{
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav">
            @*<li>
                    @Html.ActionLink("Hello " + User.Identity.Name, "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>*@
            @if (this.User.IsInRole("Administrator"))
            {
                <li>
                    @Html.ActionLink("Admin Area", "Index", "Admin", new { area = "Admin" }, htmlAttributes: new { title = "Manage" })
                </li>
            }
            <li>
                @Html.ActionLink("Afmelden", "Logout", "Account", new { area = "" }, null)
            </li>
        </ul>
        }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @*<li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>*@
        <li>
            <a id="loginLink" href="@Url.Action("Login", "Account")">
                <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>   Login
            </a>
        </li>
    </ul>
}
